// Variables

// Colors
$clr-pink-1: #f2789f;
$clr-pink-2: #f999b7;
$clr-pink-3: #f9c5d5;
$clr-pink-4: #fee3ec;
$clr-pink-5: #fccfdf;
$clr-black-1: #1b1c25;
$clr-red-1: #e63946;
$clr-green-1: #06d6a0;
$clr-green-2: #007200;
$clr-blue-1: #0077b6;

$primary: $clr-pink-1;
$secondary: $clr-black-1;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Font sizes
$fontSize-sm: 0.85rem;
$fontSize-md: 1rem;
$fontSize-ml: 1.35rem;
$fontSize-lg: 2rem;
$fontSize-xl: 3.25rem;

$max-width: 1200px;
